In [4]:
class Employee:
    num_employees = 0

    def __init__(self, name, family, salary, department):
        self.name = name
        self.family = family
        self.salary = salary
        self.department = department
        Employee.num_employees += 1

    @staticmethod
    def average_salary(employees):
        total_salary = sum(emp.salary for emp in employees)
        return total_salary / len(employees)

class FulltimeEmployee(Employee):
    def __init__(self, name, family, salary, department, experience):
        super().__init__(name, family, salary, department)
        self.experience = experience

employee1 = Employee("John Doe", "Family A", 60000, "HR")
employee2 = Employee("Jane Smith", "Family B", 75000, "Finance")

fulltime_employee1 = FulltimeEmployee("Alice Johnson", "Family C", 80000, "IT", 3)
fulltime_employee2 = FulltimeEmployee("Bob Williams", "Family D", 90000, "Engineering", 5)

employees = [employee1, employee2, fulltime_employee1, fulltime_employee2]
avg_salary = Employee.average_salary(employees)

print("Total number of employees:", Employee.num_employees)
print("Average salary:", avg_salary)

Total number of employees: 4
Average salary: 76250.0

In [5]:
import numpy as np
random_vector = np.random.uniform(1, 20, size=20)
print("Original array:")
print(random_vector)

reshaped_array = random_vector.reshape(4, 5)

max_indices = np.argmax(reshaped_array, axis=1)

reshaped_array[np.arange(4), max_indices] = 0

print("\nReshaped array:")
print(reshaped_array)

Original array:
[ 4.81941049 10.94131082  4.76346696 11.99768242 19.36396732 19.25110328
  7.99717574  3.5782389  12.13740974 15.7535316   7.86316379 10.06709053
 15.64571699 14.44121018  8.71522381 13.80753415  6.68526069 16.20091944
 19.99967085  5.79490264]

Reshaped array:
[[ 4.81941049 10.94131082  4.76346696 11.99768242  0.        ]
 [ 0.          7.99717574  3.5782389  12.13740974 15.7535316 ]
 [ 7.86316379 10.06709053  0.         14.44121018  8.71522381]
 [13.80753415  6.68526069 16.20091944  0.          5.79490264]]